<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">
      Time to start a workout!
    </mat-card-title>
    <form [formGroup]="trainingForm" (ngSubmit)="onStartTraining()">
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!(isLoading$ | async) && (exercises$ | async)">
          <mat-select placeholder="Choose Exercise" formControlName="exercise">
            <mat-option *ngFor="let exercise of (exercises$ | async)" [value]="exercise">
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="(isLoading$ | async)" ></mat-spinner>
      </mat-card-content>
      <mat-card-actions *ngIf="!(isLoading$ | async)" fxLayoutAlign="center">
        <button type="submit" *ngIf="exercises$ | async" [disabled]="trainingForm.invalid" mat-button color="primary">Start</button>
        <button type="button" *ngIf="!(exercises$ | async)" mat-button color="primary" (click)="fetchExercises()" >Fetch again</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>